{{ if or .Paginator.HasPrev .Paginator.HasNext }}
<div class="dummy row col-12"></div>
<div class="pages">

    {{ if .Paginator.HasPrev }}
    <a class="icon col-4 pages-icon left-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
        <i class="fa fa-arrow-left"></i> Prev
    </a>
    {{ end }} {{ if .Paginator.HasNext }}
    <a class="icon pages-icon right-icon" href="{{ .Paginator.Next.URL }}" rel="next">
        Next <i class="fa fa-arrow-right"></i>
    </a>
    {{ end }}

</div>

{{ end }}