/*
Part 1: Responsive
*/
* {
    box-sizing: border-box;
    text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*
Part 2: Theme colors
*/
html, body {
    height: 100%;
}
h1, h2, h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-menu {
    text-decoration: none; 
    background: #4885ed;
    padding: 10px;
    border-radius:5px 5px 5px 5px;
    box-shadow: 3px 3px 5px #aaaaaa;
}

.main-menu-item a {
    text-decoration: none; 
}

.main-menu-item {
    margin: 5px; 
    color: #ffffff;
    padding: 5px;
}

a.main-menu-item:hover {
    /*background: #aedbe9;*/
    border-bottom:2px solid #fff;
}

a.main-menu-item.active {
    background: #fff;
    border-radius:3px;
    color: #4885ed;
}

main{
    /*margin-bottom: 100px;*/
}

.writer-landing {
    padding: 100px;
}

.item {
    margin: 15px;
    text-align: center;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ddd;
}

.item-title a {
    text-decoration: none;
}

.item-title {
    color: #4885ed;
    font-size: 1.4em;
}

.item-date {
    font-size: 0.8em;
}

#footer {
    margin: 30px;
    padding: 5px;
    /*background: #4885ed;*/
    border-top: 2px solid #bbb;
    border-radius: 15px;
    /*box-shadow: -3px -3px 5px #ddd;*/
    color: #aaaaaa;
    text-align: center;
}

a.social-icon {
    text-decoration: none; 
}

.social-icon {
    color: #aaa;
    padding: 15px;
}

.social-icon:hover {
    color: #4885ed;
}
